<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83444202337-k07ng68tjsraiqlm4hsfbpgev2j5lbrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83444202337-k07ng68tjsraiqlm4hsfbpgev2j5lbrr</string>
	<key>API_KEY</key>
	<string>AIzaSyB-uxWPVsFGlMy4FsSF9V94Q_TxzMt_WjE</string>
	<key>GCM_SENDER_ID</key>
	<string>83444202337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blognaga.plant</string>
	<key>PROJECT_ID</key>
	<string>plant-observation</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-observation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83444202337:ios:5aed61b0de6cfbb05ba320</string>
</dict>
</plist>